/* This file is shared between the DotClear themes OUAIE and ANTHISNES -->*/
/*
	Largeurs retenues:
	- smartphones: 600px max (media queries):
		- Présentation 1 colonne
		- Marges minimum
	- tablettes: 1024px max (présentation sans media queries):
		- Présentation 1 colonne
		- Marges à fixer en fonction des photos (972 px landscape 648 px portrait)
	- écrans: de 1025 px à 1280 px (media queries):
		- Présentation 1 colonne
		- Marges à fixer en fonction des photos (972 px landscape 648 px portrait)
	- écrans: de 1281 px à 1600 px (media queries):
		- Présentation 2 colonnes
		- Marges à fixer en fonction des photos (972 px landscape 648 px portrait)
	- écrans: de 1601 px à 1920 px  (media queries):
		- Présentation 2 colonnes
		- Marges à fixer en fonction des photos (972 px landscape 648 px portrait)
	- écrans: au delà de 1920 px  (media queries):
		- Présentation 2 colonnes
		- Marges à fixer en fonction des photos (972 px landscape 648 px portrait)
*/
/* Présentation pour tous les navigateurs ainsi que pour ceux ne reconnaissant pas les media queries */
/* Corps */
body
{
	font-family: sans-serif;
	margin-left: 2%;
	margin-right: 2%;
}
/* Fin du corps */
/* Titres */
h1, h2 , h3, h4, h5
{
	padding-bottom: 1em;
}
/* Fin titres */
/* Paragraphes */
p, ul
{
	padding-bottom: 0.5em;
}
p.cyNote
{
	font-size: 80%;
}
/* Images */
img
{
	width: 100%;
}
/* Fin des images */
/* Figures */
figure
{
	width: 100%;
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 0;
	margin-right: 0;
}
figcaption
{
	text-align: center;
	margin-top: 1em;
	font-size: 80%;
}
/* Fin des figures */
/* En-têre */
#cySiteTitle
{
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	padding-top: 1.95em;
	padding-bottom: 0.1em;
	padding-left: 1em;
}
#cySiteTitle > h1
{
	font-size: 195%;
	padding-bottom: 0;
}
#cySiteTitle > h1 > a
{
	text-decoration: none;
}
#cySiteDescription
{
	padding-top: 0.5em;
	padding-bottom: 1em;
	padding-right: 1em;
	text-align: right;
}
/* Fin de l'en-tête */
/* Corps de la page */
#cyMain
{
	padding-top: 2em;
	padding-bottom: 2em;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
}
/* Fin du corps de la page */
/* Pied de page*/
#cyFooter
{
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 80%;
}
/* Fin du pied de page */
/* Menus */
ul.cyMenu
{
	padding-top: 1em;
	padding-bottom: 1.95em;
	line-height: 1.55em;
	text-align: center;
}
ul.cyMenu > li
{
	display: inline;
	white-space: nowrap;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#cyNavigationTitleTop,
#cyNearTitleTop,
#cyNearMenuTop,
#cyCategoriesTitleTop,
#cyCategoriesMenuTop,
#cyTagsTitleTop,
#cyTagsMenuTop,
#cyArchivesTitleTop,
#cyArchivesMenuTop,
#cyPagesTitleTop,
#cyPagesMenuTop
{
	display:none;
}
#cyNavigationTitleTop,
#cyNearTitleTop,
#cyCategoriesTitleTop,
#cyCategoriesTitleBottom,
#cyNearTitleBottom,
#cyTagsTitleBottom,
#cyArchivesTitleBottom,
#cyPagesTitleBottom
{
	text-align:center;
}
#cyCategoriesTitleBottom
{
	padding-top: 1em;
}
#cyMenuBottom
{
	padding-top: 1em;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
}
/* Fin des menus */
/* Billets */
.cyPost
{
	padding-bottom: 4em;
}
.cyPostTitleDate
{
	padding-bottom: 2em;
}
.cyPostTitleDate:first-letter
{
	text-transform: uppercase;
}
.cyPostContent
{
	padding-bottom: 1em;
}
.cyPictureLandscape img,
.cyPictureLandscape video,
.cyPictureLandscape > p > img,
.cyPictureLandscape > p > video,
.cyPicturePortrait img,
.cyPictureSquare img,					  
.cyPicturePortrait > p > img,
.cyPictureSquare > p > img
{
	border-style: solid;
	border-width: 0.1em;
}						 
.cyPictureLandscape img,
.cyPictureLandscape video,
.cyPictureLandscape > p > img,
.cyPictureLandscape > p > video
{
	width: 100%;
}							 
.cyPicturePortrait  img,
.cyPictureSquare  img,					  
.cyPicturePortrait > p > img,
.cyPictureSquare > p > img
{
	width: 66%;
}
p.cyPictureInfo > span + span
{
	display: inline-block;
	transform:scaleX(0);
	transform-origin:0 0;
	transition:all .5s ease;
}
p.cyPictureInfo > span:hover + span
{
	transform:scaleX(1);
}
/* Fin des billets */
/* Pages */
.cyPage > div.cyPageContent > h3
{
	text-transform: uppercase;
	padding-top: 3em;
}
.cyPage > div.cyPageContent > h4
{
	padding-top: 3em;
}
/* Fin des pages */
/* Commentaires */
.cyPageCommentPreview  > dl > dt,
.cyPostCommentPreview  > dl > dt,
#cyPageComments > dl  > dt,
#cyPostComments > dl > dt
{
	padding-bottom: 1em;
}
.cyPageCommentPreview > dl > dd,
.cyPostCommentPreview > dl > dd,
#cyPageComments > dl > dd,
#cyPostComments > dl > dd
{
	padding-bottom: 1em;
}
.cyPageCommentPreview > dl > dd > p,
.cyPostCommentPreview > dl > dd > p,
#cyPageComments > dl > dd > p,
#cyPostComments > dl > dd > p
{
	padding-bottom: 1em;
	font-size: 80%;
	padding-left: 1em;
}
dd.cyPageCommentMe,
dd.cyPostCommentMe
{
	font-style: italic;
}
dt.cyPageCommentMe:after
{
	content: ", auteur de la page";
}
dt.cyPostCommentMe:after
{
	content: ", auteur de la photo";
}
/* Fin des commentaires */
/* Formulaire d'envoi des commentaires */
form.cyPageCommentForm,
form.cyPostCommentForm
{
	padding-top: 1em;
	padding-bottom: 1em;
}
form.cyPageCommentForm  label,
form.cyPostCommentForm  label
{
	display: inline-block;
	min-width: 10em;
	text-align: right;
	vertical-align: top;
}
form.cyPageCommentForm input,
form.cyPostCommentForm input
{
	min-width: 30em;
}
form.cyPageCommentForm textarea,
form.cyPostCommentForm textarea
{
	min-width: 30em;
}
p.cyButtons > input
{
	min-width: 0;
	height: 3em;
	vertical-align: top;
	text-align: center;
	border-radius: 0.5em;
	font-weight: bold;
	margin-bottom: 1em;
}
.form-help
{
	padding-top: 1em;
	padding-bottom: 1em;
}
/* Fin du formulaire d'envoi des commentaires */
/* Pagination */
#cyPagination
{
	border-top-style: solid;
	border-top-width: 0.1em;
	padding-top: 2em;
}
#cyPagination > ul
{
	padding-bottom: 1em;
	text-align: center
}
#cyPagination > ul > li
{
	display: inline;
	padding-left: 3em;
	padding-right: 3em;
}
#cyPageCounter
{
	text-align: center;
}
/* Fin de la pagination */
/* Pages archive, categories et tags */
.cyThumbnails
{
	padding-bottom: 3em;
}
img.cyThumbnail
{
	height: 100px;
	width: auto;
}
/* Fin des pages archive, categories et tags */
/* Pages */
.cyPageContent
{
	padding-bottom: 3em;
}
/* Pages */
/* Pages 403 404 */
#cyHttpFaultText
{
	text-align: center;
	font-size: 195%;
	padding-top: 5em;
	padding-bottom: 5em;
}
/* Fin des pages 403 404 */
@media screen and (min-width: 1px) and (max-width: 600px)
{
	/* Corps */
	body
	{
		margin-left: 2%;
		margin-right:2%;
	}
	/* Fin du corps */
	/* Corps de la page */
	#cyMain
	{
		padding-top: 1em;
	}
	/* Fin du corps de la page */
	/* Menus */
	ul.cyMenu
	{
		text-align: left;
		padding-top: 0;
		padding-bottom: 1em;
	}
	ul.cyMenu > li
	{
		white-space: normal;
		line-height: 2.25em;
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	#cyNavigationMenuTop
	{
		padding-bottom: 4em;
	}
	#cyNavigationTitleTop,
	#cyCategoriesTitleTop,
	#cyCategoriesTitleBottom,
	#cyNearTitleBottom,
	#cyTagsTitleBottom,
	#cyArchivesTitleBottom,
	#cyPagesTitleBottom
	{
		text-align:left;
	}
	#cyMenuBottom
	{
		padding-top: 2em;
	}
	/* Fin des menus */
	/* Billets */
	.cyPost
	{
		padding-bottom: 2em;
	}
	/* Fin des billets */
	/* Pagination */
	#cyPagination > ul
	{
		text-align: left;
		line-height: 1.55em;
	}
	#cyPagination > ul > li
	{
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	#cyPageCounter
	{
		text-align: left;
	}
	/* Fin de la pagination */
}
@media screen and (min-width: 1025px) and (max-width: 1280px)
{
	/* Corps */
	body
	{
		margin-left: calc(50% - 512px + 2em);
		margin-right:calc(50% - 512px + 2em);
	}
	/* Fin du corps */
}
@media screen and (min-width: 1281px)
{
	/* Corps */
	body
	{
		margin-left: 8em;
		margin-right:8em;
	}
	/* Fin du corps */
	/* Tables */
	.cyGrid-1
	{
		display: table;
		width: 100%;
	}
	.cyGrid-2
	{
		display: table-row;
	}
	.cyGrid-3
	{
		display: table-cell;
		vertical-align: top;
	}
	.cyOrder-1,
	.cyOrder-3
	{
		min-width: 20em;
	}
	.cyOrder-2
	{
		width: calc(972px + 0.2em);
	}
	.cyGrid-1 > div.cyGrid-2 > div.cyGrid-3.cyOrder-1,
	.cyGrid-1 > div.cyGrid-2 > nav.cyGrid-3.cyOrder-1
	{
	}
	.cyGrid-1 > div.cyGrid-2 > div.cyGrid-3.cyOrder-3
	{
		border-left-style: solid;
		border-left-width: 0.1em;
	}
	/* Fin des tables */
	/* En-têre */
	#cySiteTitle
	{
		border-bottom-style: solid;
		border-bottom-width: 0.1em;
	}
	#cySiteDescription
	{
		padding-right: 5em;
		text-align: right;
	}
	/* Fin de l'en-tête */
	/* Corps de la page */
	#cyMain
	{
		padding-top: 0;
		padding-bottom: 0;
	}
	#cyMainContent
	{
		padding: 1em;
	}
	html > body#cyTag > div#cyMain.cyGrid-1 > div.cyGrid-2 > section#cyMainContent,
	html > body#cyArchiveMonth > div#cyMain.cyGrid-1 > div.cyGrid-2 > section#cyMainContent,
	html > body#cyHome > div#cyMain.cyGrid-1 > div.cyGrid-2 > section#cyMainContent,
	html > body#cyCategory > div#cyMain.cyGrid-1 > div.cyGrid-2 > section#cyMainContent
	{
		padding-top: 0;
	}
	html > body#cyCategory > div#cyMain.cyGrid-1 > div.cyGrid-2 > section#cyMainContent.cyGrid-3.cyOrder-2 > p.cyComing
	{
		padding-top: 1em;
	}
	#cyPagination
	{
		border-top-style: none;
		border-top-width: 0;
		padding-top: 2em;
	}
	/* Fin du corps de la page */
	/* Pied de page*/
	#cyFooter
	{
		border-top-style: none;
		padding-top: 1.95em;
		padding-bottom: 1.95em;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 80%;
	}
	/* Fin du pied de page */
	/* Menus */
	#cyMainMenu
	{
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 1em;
	}
	#cyMenuBottom
	{
		display: none;
	}
	#cyNavigationTitleTop,
	#cyNavigationMenuTop
	{
		display: none;
	}
	#cyCategoriesTitleTop,
	#cyCategoriesMenuTop,
	#cyNearTitleTop,
	#cyNearMenuTop,
	#cyTagsTitleTop,
	#cyTagsMenuTop,
	#cyArchivesTitleTop,
	#cyArchivesMenuTop,
	#cyPagesTitleTop,
	#cyPagesMenuTop
	{
		display: block;
		text-align: left;
	}
	#cyCategoriesTitleTop
	{
		padding-top: 1em;
	}
	#cyAllCategoriesTop,
	#cyAllTagsTop,
	#cyAllArchivesTop
	{
		padding-top: 1em;
	}
	#cyCategoriesTitleBottom,
	#cyCategoriesMenuBottom,
	#cyNearTitleBottom,
	#cyNearMenuBottom,
	#cyTagsTitleBottom,
	#cyTagsMenuBottom,
	#cyArchivesTitleBottom,
	#cyArchivesMenuBottom,
	#cyPagesTitleBottom,
	#cyPagesMenuBottom
	{
		display: none;
	}
	#cyPagesMenuTop
	{
		padding-bottom: 1em;
	}
	ul.cyMenu
	{
		padding-top: 0;
		line-height: 1.15em;
		padding-bottom: 1em;
	}
	ul.cyMenu > li.cyCategoryFirst
	{
		padding-top: 1em;
		padding-bottom: 1em;
	}
	ul.cyMenu > li
	{
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	ul.cyMenu > li > a
	{
		padding-left: 0.6em;
		border-left-style: solid;
		border-left-width: 0.3em;
		text-decoration: none;
	}
	#cyPagination
	{
		margin-left: -1em;
		margin-right: -1em;
		font-weight: bold;
	}
	#cyPageCounter
	{
		padding: 1em;
	}
	/* Fin de la pagination */
}