/* This file is shared between the DotClear themes OUAIE and ANTHISNES -->*/
/* start reset */

html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p,
a, img, sub, sup, ul, li,
figure, figcaption
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;	
}
body
{
	line-height: 1;
}
ul
{
	list-style: none;
}

/* End reset*/
/*
	Largeurs retenues:
	- smartphones: 600px max (media queries):
		- Présentation 1 colonne
		- Marges minimum
	- tablettes: 1024px max (présentation sans media queries):
		- Présentation 1 colonne
		- Marges à fixer en fonction des photos (972 px landscape 648 px portrait)
	- écrans: de 1025 px à 1280 px (media queries):
		- Présentation 1 colonne
		- Marges à fixer en fonction des photos (972 px landscape 648 px portrait)
	- écrans: de 1281 px à 1600 px (media queries):
		- Présentation 2 colonnes
		- Marges à fixer en fonction des photos (972 px landscape 648 px portrait)
	- écrans: de 1601 px à 1920 px  (media queries):
		- Présentation 2 colonnes
		- Marges à fixer en fonction des photos (972 px landscape 648 px portrait)
	- écrans: au delà de 1920 px  (media queries):
		- Présentation 2 colonnes
		- Marges à fixer en fonction des photos (972 px landscape 648 px portrait)
*/
/* Présentation pour tous les navigateurs ainsi que pour ceux ne reconnaissant pas les media queries */
/* Corps */
body
{
	font-family: sans-serif;
	margin-left: 2%;
	margin-right: 2%;
}
body.cyStandardColor
{
	background-color: black;
	color: white;
}
body.cyAlternateColor
{
	background-color: white;
	color: black;
}
/* Fin du corps */
/* Titres */
h1, h2, h3, h4, h5, h6
{
	padding-bottom: 1em;
}
/* Fin titres */
/* Liens */
body.cyStandardColor a
{
	color: #555555;
}
body.cyAlternateColor a
{
	color: #555555;
}
body.cyStandardColor a:hover
{
	color: orange;
}
body.cyAlternateColor a:hover
{
	color: purple;
}
/* Fin liens */
/* Paragraphes */
p, ul
{
	padding-bottom: 0.5em;
}
/* Images */
img
{
	width: 100%;
}
/* Fin des images */
/* Figures */
figure
{
	width: 100%;
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 0;
	margin-right: 0;
}
figcaption
{
	text-align: center;
	margin-top: 1em;
	font-size: 80%;
}
/* Fin des figures */

/* En-têre => _top.html*/
#cySiteTitle
{
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	padding-top: 1.95em;
	padding-bottom: 0.1em;
	padding-left: 1em;
}
#cySiteTitle > h1
{
	font-size: 195%;
	padding-bottom: 0;
}
#cySiteTitle > h1 > a
{
	text-decoration: none;
}
body.cyStandardColor #cySiteTitle > h1 > a
{
	color: white;
}
body.cyAlternateColor #cySiteTitle > h1 > a
{
	color: black;
}
body.cyStandardColor #cySiteTitle > h1 > a:hover
{
	color: white;
}
body.cyAlternateColor #cySiteTitle > h1 > a:hover
{
	color: black;
}
body.cyStandardColor #cySiteTitle > h1 > a > span
{
	color: orange
}
body.cyAlternateColor #cySiteTitle > h1 > a > span
{
	color: purple;
}
body.cyStandardColor #cySiteTitle > h1 > a:hover > span
{
	color: purple;
	transition: color 1s;
}
body.cyAlternateColor #cySiteTitle > h1 > a:hover > span
{
	color: orange;
	transition: color 1s;
}
#cySiteDescription
{
	padding-top: 0.5em;
	padding-bottom: 1em;
	padding-right: 1em;
	text-align: right;
}
/* Fin de l'en-tête */

/* Corps de la page => home.html, page.html, post.html, category.html, categories.html, tag.html, tags.html, archives_month.html, archive.html, 403.html, 404.html  */
#cyMain
{
	padding-top: 2em;
	padding-bottom: 2em;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
}
/* Fin du corps de la page */
/* Pied de page*/
#cyFooter
{
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 80%;
}
/* Fin du pied de page */

/* Menus => _user_top_menu.html, _footer.html*/
.cyMenu
{
	padding-top: 1em;
	padding-bottom: 1.95em;
	line-height: 1.55em;
	text-align: center;
}
.cyMenuItem
{
	display: inline;
	white-space: nowrap;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#cyNavigationTitleTop,
#cyNearTitleTop,
#cyNearMenuTop,
#cyCategoriesTitleTop,
#cyCategoriesMenuTop,
#cyTagsTitleTop,
#cyTagsMenuTop,
#cyArchivesTitleTop,
#cyArchivesMenuTop,
#cyPagesTitleTop,
#cyPagesMenuTop
{
	display:none;
}
#cyNavigationTitleTop,
#cyNearTitleTop,
#cyCategoriesTitleTop,
#cyCategoriesTitleBottom,
#cyNearTitleBottom,
#cyTagsTitleBottom,
#cyArchivesTitleBottom,
#cyPagesTitleBottom
{
	text-align:center;
}
#cyCategoriesTitleBottom
{
	padding-top: 1em;
}
#cyMenuBottom
{
	padding-top: 1em;
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
}
/* Fin des menus */

/* Billets => post.html, _user_home.html */
.cyPost
{
	padding-bottom: 4em;
}
.cyPostTitleDate
{
	padding-bottom: 2em;
}
.cyPostTitleDate:first-letter
{
	text-transform: uppercase;
}
.cyPostTitle
{
	visibility: hidden;
	width:0;
	height:0;
}
.cyPostContent
{
	padding-bottom: 1em;
}
.cyPictureLandscape,
.cyPicturePortrait,
.cyPictureSquare			  
{
	border-style: solid;
	border-width: 0.1em;
}						 
.cyPictureLandscape
{
	width: 100%;
}							 
.cyPicturePortrait,
.cyPictureSquare
{
	width: 66%;
}
body.cyStandardColor .cyPicturePortrait,
body.cyStandardColor .cyPictureSquare,
body.cyStandardColor .cyPictureLandscape
{
	border-color: white;
}
body.cyAlternateColor .cyPicturePortrait,
body.cyAlternateColor .cyPictureSquare,
body.cyAlternateColor .cyPictureLandscape
{
	border-color: black;
}
p.cyPictureInfo > span + span
{
	display: inline-block;
}
.cyNote
{
	font-size: 80%;
}
/* Fin des billets */

/* Pages => See page content*/
.cyPage > div.cyPageContent > h3
{
	text-transform: uppercase;
	padding-top: 3em;
}
.cyPage > div.cyPageContent > h4
{
	padding-top: 3em;
}
/* Fin des pages */
/* Pagination */
#cyPagination
{
	border-top-style: solid;
	border-top-width: 0.1em;
	padding-top: 2em;
}
.cyPaginationList
{
	padding-bottom: 1em;
	text-align: center
}
.cyPaginationListItem
{
	display: inline;
	padding-left: 3em;
	padding-right: 3em;
}
#cyPageCounter
{
	text-align: center;
}
/* Fin de la pagination */
/* Pages archive, categories et tags */
.cyThumbnails
{
	padding-bottom: 3em;
}
.cyThumbnail
{
	height: 100px;
	width: auto;
}
/* Fin des pages archive, categories et tags */
/* Pages */
.cyPageContent
{
	padding-bottom: 3em;
}
/* Pages */
/* Pages 403 404 */
#cyHttpFaultText
{
	text-align: center;
	font-size: 195%;
	padding-top: 5em;
	padding-bottom: 5em;
}
body.cyStandardColor #cyHttpFaultText
{
	color: orange;
}
body.cyAlternateColor #cyHttpFaultText
{
	color: purple;
}
/* Fin des pages 403 404 */
@media screen and (min-width: 1px) and (max-width: 600px)
{
	/* Corps */
	body
	{
		margin-left: 2%;
		margin-right:2%;
	}
	/* Fin du corps */
	/* Corps de la page */
	#cyMain
	{
		padding-top: 1em;
	}
	/* Fin du corps de la page */
	/* Menus */
	.cyMenu
	{
		text-align: left;
		padding-top: 0;
		padding-bottom: 1em;
	}
	.cyMenuItem
	{
		white-space: normal;
		line-height: 2.25em;
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	#cyNavigationMenuTop
	{
		padding-bottom: 4em;
	}
	#cyNavigationTitleTop,
	#cyCategoriesTitleTop,
	#cyCategoriesTitleBottom,
	#cyNearTitleBottom,
	#cyTagsTitleBottom,
	#cyArchivesTitleBottom,
	#cyPagesTitleBottom
	{
		text-align:left;
	}
	#cyMenuBottom
	{
		padding-top: 2em;
	}
	/* Fin des menus */
	/* Billets */
	.cyPost
	{
		padding-bottom: 2em;
	}
	/* Fin des billets */
	/* Pagination */
	.cyPaginationList
	{
		text-align: left;
		line-height: 1.55em;
	}
	.cyPaginationListItem
	{
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	#cyPageCounter
	{
		text-align: left;
	}
	/* Fin de la pagination */
}
@media screen and (min-width: 1025px) and (max-width: 1280px)
{
	/* Corps */
	body
	{
		margin-left: calc(50% - 512px + 2em);
		margin-right:calc(50% - 512px + 2em);
	}
	/* Fin du corps */
}
@media screen and (min-width: 1281px)
{
	/* Corps */
	body
	{
		margin-left: 8em;
		margin-right:8em;
	}
	/* Fin du corps */
	/* Tables */
	.cyGrid-1
	{
		display: table;
		width: 100%;
	}
	.cyGrid-2
	{
		display: table-row;
	}
	.cyGrid-3
	{
		display: table-cell;
		vertical-align: top;
	}
	.cyOrder-1,
	.cyOrder-3
	{
		min-width: 20em;
	}
	.cyOrder-2
	{
		width: calc(972px + 0.2em);
	}
	div.cyGrid-3.cyOrder-3
	{
		border-left-style: solid;
		border-left-width: 0.1em;
	}
	/* Fin des tables */
	/* En-têre */
	#cySiteTitle
	{
		border-bottom-style: solid;
		border-bottom-width: 0.1em;
	}
	#cySiteDescription
	{
		padding-right: 5em;
		text-align: right;
	}
	/* Fin de l'en-tête */
	/* Corps de la page */
	#cyMain
	{
		padding-top: 0;
		padding-bottom: 0;
	}
	#cyMainContent
	{
		padding: 1em;
	}
	html > body#cyTag > div#cyMain.cyGrid-1 > div.cyGrid-2 > section#cyMainContent,
	html > body#cyArchiveMonth > div#cyMain.cyGrid-1 > div.cyGrid-2 > section#cyMainContent,
	html > body#cyHome > div#cyMain.cyGrid-1 > div.cyGrid-2 > section#cyMainContent,
	html > body#cyCategory > div#cyMain.cyGrid-1 > div.cyGrid-2 > section#cyMainContent
	{
		padding-top: 0;
	}
	.cyComing
	{
		padding-top: 1em;
	}
	#cyPagination
	{
		border-top-style: none;
		border-top-width: 0;
		padding-top: 2em;
	}
	/* Fin du corps de la page */
	/* Billets */
	p.cyPictureInfo > span + span
	{
		transform:scaleX(0);
		transform-origin:0 0;
		transition:all .5s ease;
	}
	p.cyPictureInfo > span:hover + span
	{
		transform:scaleX(1);
	}
	/* Fin des billets */
	/* Pied de page*/
	#cyFooter
	{
		border-top-style: none;
		padding-top: 1.95em;
		padding-bottom: 1.95em;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 80%;
	}
	/* Fin du pied de page */
	/* Menus */
	#cyMainMenu
	{
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 1em;
	}
	#cyMenuBottom
	{
		display: none;
	}
	#cyNavigationTitleTop,
	#cyNavigationMenuTop
	{
		display: none;
	}
	#cyCategoriesTitleTop,
	#cyCategoriesMenuTop,
	#cyNearTitleTop,
	#cyNearMenuTop,
	#cyTagsTitleTop,
	#cyTagsMenuTop,
	#cyArchivesTitleTop,
	#cyArchivesMenuTop,
	#cyPagesTitleTop,
	#cyPagesMenuTop
	{
		display: block;
		text-align: left;
	}
	#cyCategoriesTitleTop
	{
		padding-top: 1em;
	}
	#cyAllCategoriesTop,
	#cyAllTagsTop,
	#cyAllArchivesTop
	{
		padding-top: 1em;
	}
	#cyCategoriesTitleBottom,
	#cyCategoriesMenuBottom,
	#cyNearTitleBottom,
	#cyNearMenuBottom,
	#cyTagsTitleBottom,
	#cyTagsMenuBottom,
	#cyArchivesTitleBottom,
	#cyArchivesMenuBottom,
	#cyPagesTitleBottom,
	#cyPagesMenuBottom
	{
		display: none;
	}
	#cyPagesMenuTop
	{
		padding-bottom: 1em;
	}
	.cyMenu
	{
		padding-top: 0;
		line-height: 1.15em;
		padding-bottom: 1em;
	}
	.cyCategoryFirst
	{
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.cyMenuItem
	{
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	.cyMenuItem > a
	{
		padding-left: 0.6em;
		border-left-style: solid;
		border-left-width: 0.3em;
		text-decoration: none;
	}
	body.cyStandardColor .cyMenuItem > a
	{
		border-color: black;
	}
	body.cyAlternateColor .cyMenuItem > a
	{
		border-color: white;
	}
	body.cyStandardColor .cyMenuItem > a:hover
	{
		border-color: orange;
		transition: border-color 2s;
	}
	body.cyAlternateColor .cyMenuItem > a:hover
	{
		border-color: purple;
		transition: border-color 2s;
	}
	#cyPagination
	{
		margin-left: -1em;
		margin-right: -1em;
		font-weight: bold;
	}
	#cyPageCounter
	{
		padding: 1em;
	}
	/* Fin de la pagination */
	/* Javascript enabled */
	body.cyJSPage #cyCategoriesMenuTop > li, 
	body.cyJSPage #cyTagsMenuTop > li, 
	body.cyJSPage #cyArchivesMenuTop > li, 
	body.cyJSPage #cyPagesMenuTop > li
	{
		display: inline-block;
	}
	body.cyJSPage #cyCategoriesMenuTop.cyHiddenMenuPart, 
	body.cyJSPage #cyTagsMenuTop.cyHiddenMenuPart, 
	body.cyJSPage #cyArchivesMenuTop.cyHiddenMenuPart, 
	body.cyJSPage #cyPagesMenuTop.cyHiddenMenuPart
	{
		transform: scaleY(0);
		transform-origin: 0 0;
		opacity:0;
		line-height:0;
	}
	body.cyJSPage #cyCategoriesMenuTop > li, 
	body.cyJSPage #cyTagsMenuTop > li, 
	body.cyJSPage #cyArchivesMenuTop > li, 
	body.cyJSPage #cyPagesMenuTop > li
	{
		padding:0;
		margin:0;
	}
	body.cyJSPage #cyMain
	{
		border-width: 0;
		border-style: none;
	}
	body.cyJSPage .cyPostTitleDate.cyHidden,
	body.cyJSPage .cyPost.cyHidden, 
	body.cyJSPage .cyPost.cyHidden .cyPostTitle,
	body.cyJSPage .cyPost.cyHidden .cyPostContent,
	body.cyJSPage .cyPost.cyHidden .cyPictureLandscape,
	body.cyJSPage .cyPost.cyHidden .cyPostLocationName,
	body.cyJSPage .cyPost.cyHidden .cyPictureDate,
	body.cyJSPage .cyPost.cyHidden .cyPictureInfo,
	body.cyJSPage .cyPost.cyHidden .cyPostTags,
	body.cyJSPage .cyPost.cyHidden .cyPictureLandscape,
	body.cyJSPage .cyPost.cyHidden .cyPicturePottrait,
	body.cyJSPage .cyPost.cyHidden .cyPictureSquare,
	body.cyJSPage #cyPagination.cyHidden,
	body.cyJSPage #cyPagination.cyHidden .cyPaginationList,
	body.cyJSPage #cyPagination.cyHidden .cyPaginationList .cyPaginationListItem,
	body.cyJSPage #cyPageCounter.cyHidden,
	body.cyJSPage #cyCopyright.cyHidden,
	body.cyJSPage #cyCopyright.cyHidden .cyPostCopyright,
	body.cyJSPage #cyMenuBottom.cyHidden,
	body.cyJSPage #cyFooter.cyHidden,
	body.cyJSPage #cyFooter.cyHidden #cyHTMLCSSValidation
	{
		transform: scale(0);
		transform-origin: 0 0;
		line-height:0;
		padding: 0;
		margin: 0;
		width: 0;
		height: 0;
		border-width: 0;
		border-style: none;
	}	
	/* Fin Javascript enabled */
}