/* This file is shared between the DotClear themes OUAIE and ANTHISNES -->*/
:root 
{
	--border-color: white;
	--background: black;
	--color: white;
	--background-color: black;
	--cyMenuTitle-color: black;
	--cyMenuTitle-background-color: lightgray;
	--link-color: white;
	--link-hover-color: orange;
}
body
{
	background-color: black;
	color: white;
}
a
{
	color: #555555;
}
a:hover
{
	color: orange;
}
h1 > a
{
	color: white;
}
h1 > a > span
{
	color: orange
}
h1 > a:hover
{
	color: white;
}
h1 > a:hover > span
{
	color: purple;
	transition: color 1s;
}
ul.cyMenu > li > a#cyCurrent
{
	color: orange;
	border-color: black;
}
ul.cyMenu > li > a#cyCurrent:hover
{
	border-color: black;
}
input,
textarea
{
	box-shadow: 0em 0em 0.1em black;
}
.cyButtons > input
{
	color: purple;
	box-shadow: 0em 0em 0.1em black;
	background: gray;
	background: linear-gradient(gray,white);
}
.cyButtons > input:hover
{
	background: gray;
	background: linear-gradient(black,#C0C0C0);
}
.cyButtons > input:active
{
	background: gray;
	background: linear-gradient(black,#C0C0C0);
	color: white;
}
@media screen and (min-width: 1px) and (max-width: 480px)
{
	ul.cyMenu > li > a
	{
		transition: 0s color;
	}
}
@media screen and (min-width: 481px)
{
	ul.cyMenu > li > a
	{
		border-color: black;
	}
	ul.cyMenu > li > a:hover
	{
		border-color: orange;
		transition: border-color 2s;
	}
}
@media screen and (min-width: 1281px)
{
	.cyPictureMeteo > p > img
	{
		box-shadow: 1px 1px 5px 2px gray;
	}
}
.cyPictureMeteo,
.cyPicturePortrait > p > img,
.cyPictureSquare > p > img,
.cyPictureLandscape > p > img
{
	border-color: white;
}
#cyHttpFaultText
{
	color: orange;
}
.CyPostCommentPreviewError
{
	color: yellow;
}
.cyPostCommentPreviewMessage
{
	color: orange;
}